body {
    margin: 0;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

#main {
    height: 286px;
    background-color: #6943FF;
    padding: 20px;
}

#heading {
    margin: 30px 50px;
    color: #fff;
    position: relative;
    font-weight: 800;
    font-size: 28px;
}

#input-el {
    display: block;
    text-align: center;
    margin: 0 auto 26px;
    width: 117px;
    height: 83px;
    border: 2px solid #B295FF;
    border-radius: 5px;
    background: none;
    color: #fff;
    font-size: 58px;
    font-weight: 800;
    font-family: 'Inter', sans-serif;
    line-height: 24px;
}


#convert-btn {
    padding: 9px 27px;
    font-size: 16px;
    border-radius: 5px;
    border: #fff;
    font-weight: 500;
    font-family: "Inter";
    line-height: 25px;
}

#result {
    background: #F4F4F4;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* #length {
    margin-top: 36px;
} */


#length-container {
    margin-top: 36px;
}

.container {
    /* margin-top: 20px; */
    /* padding: 20px; */
    /* margin-bottom: 20px; */
    background-color: #FFFFFF;
    width: 60%;
    height: 119px;
    margin-bottom: 23px;
    border-radius: 5px 0px 0px 0px;
}

#result-heading {
    position: relative;
    color: #5A537B;
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
}